site_name: MDRM 교육 커리큘럼
site_description: 시스템 설치부터 운영까지 완벽 가이드
site_author: MDRM Team
site_url: https://ai-uzoogom.github.io/MDRM_manual/

theme:
  name: material
  language: ko
  palette:
    scheme: default
    primary: blue
    accent: blue
  font:
    text: Noto Sans KR
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - content.code.copy
    - content.tabs.link

nav:
  - 홈: index.md
  - DAY 1:
    - 개요: day1/index.md
    - 사전작업: day1/사전작업.md
    - 설치: day1/설치.md
    - 메뉴 설명: day1/메뉴설명.md
    - 정지 및 종료: day1/정지_및_종료.md
  - DAY 2:
    - 개요: day2/index.md
    - Agent 설치: day2/Agent_설치.md
    - 컴포넌트: day2/컴포넌트.md
    - 실행 프로세스: day2/실행_프로세스.md

plugins:
  - search:
      lang: ko

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra:
  generator: false


extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js

copyright: "&copy; 2026 MDRM 교육 자료 by 서비스사업본부 1팀 김재철. All rights reserved."
